@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


header {
    background-image: linear-gradient(to left, rgba(255,0,0,0),rgba(155,0,0,0),rgb(0,0,0)),url(../images/main.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
.hero-content {
   color: white;
   height: 90vh;
   width: 50%;
   font-size: 6.5vh;
   font-weight: bold;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   margin-left: 60px;
}
.hero-about {
    margin: 10%;
}
.hero-about h1 {
    text-align: center;
    font-size: 7vh;
    font-weight: lighter;
}
.hero-about p {
    font-size: 3.5vh;
}
.hero-content-btn{
    background-color:#F24D53;
    width: 100%;
    font-size: 3vh;
    border-radius: 999px;
    border: none;
    color:#fff;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 30px;
}
footer h1{
    font-weight: lighter;
    text-align: center;
    padding: 30px 0;
}
@media only screen and (max-width: 700px) {
    .hero-content h1 {
        font-size: 5vh;
  }
}
/* SLIDER */
.slider-section {
    font-weight: lighter;
    text-align: center;
}
.slider-section h1 {

    font-weight: lighter;
    margin: 0 10%;
}
.coursel-container{
    overflow: hidden;
    margin: auto;
     margin-top: 5rem;
    overflow-x: hidden;
    position: relative;
}
.coursel-slide {
    display: flex;
    width:100%;
    height: auto;
    margin:0;
    padding:0;
}

.coursel-slide img {
    width: 100%;
    height: 100%;
}
#prevBtn, #nextBtn {
    cursor: pointer;

}
#prevBtn, #nextBtn  img{
    position: absolute;
    top: 50%;
}
#prevBtn {
    left: 10px;
}
#nextBtn  img{
    right: 10px;
}